
body, h1, h2, h3, h4, h5, h6 {
    font-family: '微软雅黑';
}

.fa.k-sprite, .fa.k-sprite::before {
    font-size: 12px;
    line-height: 12px;
    padding-top: 2px;
}

.portlet.light {
    margin-bottom: 20px;
}

.portlet.light > .portlet-title > .actions .btn-icon-only {
    float: right;
    width: 34px;
    height: 34px;
}

.portlet.light > .portlet-title > .actions .input-group {
    float:right;
}

.loop-toggle .btn.grey.active {
    background-color: #217ebd;
    border-color: #217ebd;
    color: #fff;
}

.btn.blue.active:not(.btn-outline), .btn.blue.focus:not(.btn-outline), .btn.blue:active:not(.btn-outline), .btn.blue:focus:not(.btn-outline), .btn.blue:hover:not(.btn-outline) {
  background-color: #217ebd;
  border-color: #217ebd;
  color: #fff;
}


.map-wrapper {
    display: block;
    position: absolute;
    top: 46px;
    bottom: 0;
    left: 235px;
    right: 0;
}

.map .popover .arrow, .popover .arrow::after {
    display: block !important;
}

.map .popover {
    max-width: none;
}

.map-point-content {
    display:block;
    width: 300px;
    height: 200px;
}

.map-point-content dt, .map-point-content dd {
    font-size: 12px;
}

.map-point-content .tab1, .map-point-content .tab2 {
    float: left;
    margin-right: 15px;
    font-size: 12px;
}

#calendar-table .calendar-date {
    font-size: 12px;
    font-weight: 400;
    color: #000;
}

#calendar-table .calendar-value {
    font-size: 12px;
    font-weight: 600;
    color: #339900;
}

#maintain-table thead th {
    text-align: center;
}

#maintain-table tbody td {
    font-size: 12px;
    color: #000;
    text-align: center;
}