
body, h1, h2, h3, h4, h5, h6 {
    font-family: '微软雅黑';
}

/* reset sidebar tree list */
.page-sidebar .sub-menu .tree-nav li {
	margin-top: 0px !important;
}

.page-sidebar .sub-menu .jstree-node,
.page-sidebar .sub-menu .jstree-children,
.page-sidebar .sub-menu .jstree-container-ul {
	display: block;
	margin: 0;
	padding: 0;
	list-style-type: none;
	list-style-image: none;
}

.page-sidebar .sub-menu .jstree-node {
  white-space: nowrap;
}
.page-sidebar .sub-menu li > a.jstree-anchor {
  display: inline-block;
  color: black;
  white-space: nowrap;
  padding: 0 4px 0 1px;
  margin: 0;
  vertical-align: top;
}
.page-sidebar .sub-menu .jstree-anchor:focus {
  outline: 0;
}
.page-sidebar .sub-menu .jstree-anchor,
.page-sidebar .sub-menu .jstree-anchor:link,
.page-sidebar .sub-menu .jstree-anchor:visited,
.page-sidebar .sub-menu .jstree-anchor:hover,
.page-sidebar .sub-menu .jstree-anchor:active {
  text-decoration: none;
  color: inherit;
}
.page-sidebar .sub-menu .jstree-icon {
  display: inline-block;
  text-decoration: none;
  margin: 0;
  padding: 0;
  vertical-align: top;
  text-align: center;
}
.page-sidebar .sub-menu .jstree-icon:empty {
  display: inline-block;
  text-decoration: none;
  margin: 0;
  padding: 0;
  vertical-align: top;
  text-align: center;
}
.page-sidebar .sub-menu .jstree-ocl {
  cursor: pointer;
}
.page-sidebar .sub-menu .jstree-leaf > .jstree-ocl {
  cursor: default;
}
.page-sidebar .sub-menu .jstree .jstree-open > .jstree-children {
  display: block;
}
.page-sidebar .sub-menu .jstree .jstree-closed > .jstree-children,
.page-sidebar .sub-menu .jstree .jstree-leaf > .jstree-children {
  display: none;
}
.page-sidebar .sub-menu .jstree-anchor > .jstree-themeicon {
  margin-right: 2px;
}
.page-sidebar .sub-menu .jstree-no-icons .jstree-themeicon,
.page-sidebar .sub-menu .jstree-anchor > .jstree-themeicon-hidden {
  display: none;
}
.page-sidebar .sub-menu .jstree-hidden {
  display: none;
}

.page-sidebar .sub-menu .jstree-wholerow-ul {
  position: relative;
  display: inline-block;
  min-width: 100%;
}
.page-sidebar .sub-menu .jstree-wholerow-ul .jstree-leaf > .jstree-ocl {
  cursor: pointer;
}
.page-sidebar .sub-menu .jstree-wholerow-ul .jstree-anchor,
.page-sidebar .sub-menu .jstree-wholerow-ul .jstree-icon {
  position: relative;
}
.page-sidebar .sub-menu .jstree-wholerow-ul .jstree-wholerow {
  width: 100%;
  cursor: pointer;
  position: absolute;
  left: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.page-sidebar .sub-menu .jstree-default .jstree-node,
.page-sidebar .sub-menu .jstree-default .jstree-icon {
  background-repeat: no-repeat;
  background-color: transparent;
}
.page-sidebar .sub-menu .jstree-default .jstree-anchor,
.page-sidebar .sub-menu .jstree-default .jstree-wholerow {
  transition: background-color 0.15s, box-shadow 0.15s;
}
.page-sidebar .sub-menu .jstree-default .jstree-hovered {
  background: #e7f4f9;
  border-radius: 2px;
  box-shadow: inset 0 0 1px #cccccc;
}
.page-sidebar .sub-menu .jstree-default .jstree-clicked {
  background: #beebff;
  border-radius: 2px;
  box-shadow: inset 0 0 1px #999999;
}
.page-sidebar .sub-menu .jstree-default .jstree-no-icons .jstree-anchor > .jstree-themeicon {
  display: none;
}
.page-sidebar .sub-menu .jstree-default .jstree-disabled {
  background: transparent;
  color: #666666;
}
.page-sidebar .sub-menu .jstree-default .jstree-disabled.jstree-hovered {
  background: transparent;
  box-shadow: none;
}
.page-sidebar .sub-menu .jstree-default .jstree-disabled.jstree-clicked {
  background: #efefef;
}
.page-sidebar .sub-menu .jstree-default .jstree-disabled > .jstree-icon {
  opacity: 0.8;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'jstree-grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#jstree-grayscale");
  /* Firefox 10+ */
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(100%);
  /* Chrome 19+ & Safari 6+ */
}

.page-sidebar .sub-menu .jstree-default .jstree-search {
  font-style: italic;
  color: #8b0000;
  font-weight: bold;
}
.page-sidebar .sub-menu .jstree-default .jstree-no-checkboxes .jstree-checkbox {
  display: none !important;
}
.page-sidebar .sub-menu .jstree-default.jstree-checkbox-no-clicked .jstree-clicked {
  background: transparent;
  box-shadow: none;
}
.page-sidebar .sub-menu .jstree-default.jstree-checkbox-no-clicked .jstree-clicked.jstree-hovered {
  background: #e7f4f9;
}
.page-sidebar .sub-menu .jstree-default.jstree-checkbox-no-clicked > .jstree-wholerow-ul .jstree-wholerow-clicked {
  background: transparent;
}
.page-sidebar .sub-menu .jstree-default.jstree-checkbox-no-clicked > .jstree-wholerow-ul .jstree-wholerow-clicked.jstree-wholerow-hovered {
  background: #e7f4f9;
}
.page-sidebar .sub-menu .jstree-default > .jstree-striped {
  min-width: 100%;
  display: inline-block;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAkCAMAAAB/qqA+AAAABlBMVEUAAAAAAAClZ7nPAAAAAnRSTlMNAMM9s3UAAAAXSURBVHjajcEBAQAAAIKg/H/aCQZ70AUBjAATb6YPDgAAAABJRU5ErkJggg==") left top repeat;
}
.page-sidebar .sub-menu .jstree-default > .jstree-wholerow-ul .jstree-hovered,
.page-sidebar .sub-menu .jstree-default > .jstree-wholerow-ul .jstree-clicked {
  background: transparent;
  box-shadow: none;
  border-radius: 0;
}
.page-sidebar .sub-menu .jstree-default .jstree-wholerow {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.page-sidebar .sub-menu .jstree-default .jstree-wholerow-hovered {
  background: #e7f4f9;
}
.page-sidebar .sub-menu .jstree-default .jstree-wholerow-clicked {
  background: #beebff;
  background: -webkit-linear-gradient(top, #beebff 0%, #a8e4ff 100%);
  background: linear-gradient(to bottom, #beebff 0%, #a8e4ff 100%);
}
.page-sidebar .sub-menu .jstree-default .jstree-node {
  min-height: 24px;
  line-height: 24px;
  margin-left: 24px;
  min-width: 24px;
  overflow-x: hidden;
}
.page-sidebar .sub-menu .jstree-default .jstree-anchor {
  line-height: 24px;
  height: 24px;
}
.page-sidebar .sub-menu .jstree-default .jstree-icon {
  width: 24px;
  height: 24px;
  line-height: 24px;
}
.page-sidebar .sub-menu .jstree-default .jstree-icon:empty {
  width: 24px;
  height: 24px;
  line-height: 24px;
}
.page-sidebar .sub-menu .jstree-default.jstree-rtl .jstree-node {
  margin-right: 24px;
}
.page-sidebar .sub-menu .jstree-default .jstree-wholerow {
  height: 24px;
}
.page-sidebar .sub-menu .jstree-default .jstree-node,
.page-sidebar .sub-menu .jstree-default .jstree-icon {
  background-image: url("jstree/32px.png");
}
.page-sidebar .sub-menu .jstree-default .jstree-node {
  background-position: -292px -4px;
  background-repeat: repeat-y;
}
.page-sidebar .sub-menu .jstree-default .jstree-last {
  background: transparent;
}
.page-sidebar .sub-menu .jstree-default .jstree-open > .jstree-ocl {
  background-position: -132px -4px;
}
.page-sidebar .sub-menu .jstree-default .jstree-closed > .jstree-ocl {
  background-position: -100px -4px;
}
.page-sidebar .sub-menu .jstree-default .jstree-leaf > .jstree-ocl {
  background-position: -68px -4px;
}
.page-sidebar .sub-menu .jstree-default .jstree-themeicon {
  background-position: -260px -4px;
}
.page-sidebar .sub-menu .jstree-default > .jstree-no-dots .jstree-node,
.page-sidebar .sub-menu .jstree-default > .jstree-no-dots .jstree-leaf > .jstree-ocl {
  background: transparent;
}
.page-sidebar .sub-menu .jstree-default > .jstree-no-dots .jstree-open > .jstree-ocl {
  background-position: -36px -4px;
}
.page-sidebar .sub-menu .jstree-default > .jstree-no-dots .jstree-closed > .jstree-ocl {
  background-position: -4px -4px;
}
.page-sidebar .sub-menu .jstree-default .jstree-disabled {
  background: transparent;
}
.page-sidebar .sub-menu .jstree-default .jstree-disabled.jstree-hovered {
  background: transparent;
}
.page-sidebar .sub-menu .jstree-default .jstree-disabled.jstree-clicked {
  background: #efefef;
}
.page-sidebar .sub-menu .jstree-default .jstree-checkbox {
  background-position: -164px -4px;
}
.page-sidebar .sub-menu .jstree-default .jstree-checkbox:hover {
  background-position: -164px -36px;
}
.page-sidebar .sub-menu .jstree-default.jstree-checkbox-selection .jstree-clicked > .jstree-checkbox,
.page-sidebar .sub-menu .jstree-default .jstree-checked > .jstree-checkbox {
  background-position: -228px -4px;
}
.page-sidebar .sub-menu .jstree-default.jstree-checkbox-selection .jstree-clicked > .jstree-checkbox:hover,
.page-sidebar .sub-menu .jstree-default .jstree-checked > .jstree-checkbox:hover {
  background-position: -228px -36px;
}
.page-sidebar .sub-menu .jstree-default .jstree-anchor > .jstree-undetermined {
  background-position: -196px -4px;
}
.page-sidebar .sub-menu .jstree-default .jstree-anchor > .jstree-undetermined:hover {
  background-position: -196px -36px;
}
.page-sidebar .sub-menu .jstree-default .jstree-checkbox-disabled {
  opacity: 0.8;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'jstree-grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#jstree-grayscale");
  /* Firefox 10+ */
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(100%);
  /* Chrome 19+ & Safari 6+ */
}
.page-sidebar .sub-menu .jstree-default > .jstree-striped {
  background-size: auto 48px;
}

.page-sidebar .sub-menu  .jstree-default .jstree-themeicon-custom {
  background-color: transparent;
  background-image: none;
  background-position: 0 0;
}
.page-sidebar .sub-menu  .jstree-default > .jstree-container-ul .jstree-loading > .jstree-ocl {
  background: url("throbber.gif") center center no-repeat;
}
.page-sidebar .sub-menu  .jstree-default .jstree-file {
  background: url("32px.png") -100px -68px no-repeat;
}
.page-sidebar .sub-menu  .jstree-default .jstree-folder {
  background: url("32px.png") -260px -4px no-repeat;
}
.page-sidebar .sub-menu  .jstree-default > .jstree-container-ul > .jstree-node {
  margin-left: 0;
  margin-right: 0;
}
/* end reset jstree */
